.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &__paper {
        padding: 16px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
    }
}