.wrapper {
    padding: 1rem;
    border: 4px solid var(--accent);
    border-radius: 8px;
    background-color: var(--secondary);
}

.cardWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.card {
    padding: 1rem;
    border: 4px solid var(--accent);
    border-radius: 8px;
    background-color: var(--secondary);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__editIcon {
        color: var(--primary);
        cursor: pointer;
    }

    &__info {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        text-align: center;
    }
}